.token {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #cecece;
}

.token.medium {
    width: 1in;
    height: 1in;
}

.token.large {
    width: 2in;
    height: 2in;
}

.token img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    width: 100%;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

/* 
.medium img {
    width: 2in;
    right: -50%;
}

.large img {
    width: 3in;
    right: -20%;
} */