
@font-face {
    font-family: 'MrsEavesSmallCaps';
    src: url('../fonts/mrseavessmallcaps_regular-webfont.woff2') format('woff2'), url('../fonts/mrseavessmallcaps_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scala Sans Regular';
    src: url('../fonts/scalasans-regular-webfont.woff2') format('woff2'), url('../fonts/scalasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
    body {
        margin-bottom: 60px;
        background: #f9f9f9 url("../images/bgtexture.jpg") repeat;
        font-family: "Scala Sans Regular", Roboto, Helvetica, sans-serif;
        font-size: 15px;
        background-color: transparent;
        p {
            &.error {
                color: #ad0707
            }
        }
        h1 {
            font-family: "MrsEavesSmallCaps", Roboto, Helvetica, sans-serif;
            font-size: 30px;
            color: #822000
        }
        strong {
            font-weight: bold;
            color: #822000;
        }
        .hidden {
            display: none;
        }
        main.container{
            padding: 30px;
        }

        .token {
            display: inline-block;
            page-break-inside: avoid;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            border: 1px solid #cecece;
            background: white;
            &.tiny {
                width: 0.5in;
                height: 0.5in;
                .number {
                    width: 15px;
                    height: 15px;
                    font-size: 10px;
                    line-height: 15px;
                }
            }
            &.medium,
            &.small {
                width: 1in;
                height: 1in;
            }
            &.large {
                width: 2in;
                height: 2in;
            }
            &.huge {
                width: 3in;
                height: 3in;
            }
            &.gargantuan {
                width: 4in;
                height: 4in;
            }
            img {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .number {
                background: white;
                border: 1px solid #cc9999;
                position: absolute;
                bottom: 0;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                width: 18px;
                height: 18px;
                color: #840808;
                font-size: 12px;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                line-height: 18px;
                font-family: 'Righteous', cursive;
            }
        }
        .content-main {
            position: relative;
            margin: 40px auto;
            height: auto;
            overflow: hidden;
            padding: 20px;
            text-align: center;
            background: white;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
            #tokens-table {
                width: 100%;
                text-align: center;
            }
        }
        #tokens-form {
            margin: 20px auto;
            input.url-input {
                margin-right: 12px;
            }
        }
        #table-actions-container {
            margin: 20px auto;
            #print-all {
                float: right;
            }
            #remove-all{
                float: left;
            }
        } 
        
    }
    .header {
        top: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        background-color: #192527;
        h1 {
            color: white
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px;
        /* Vertically center the text there */
        background-color: #192527;
        a {
            color: white;
        }
    }
    #add-link-container {
        background: transparent url(../images/scroll.png) no-repeat;
        text-align: center;
        margin: 40px auto;
        max-width: 450px;
        padding: 30px 30px 2px 30px;
        background-size: 100% 100%;

        .url-input{
            width: 80%;
            margin-bottom: 10px;
        }
    }

    #donate-form{
        text-align: center;
    }
}

@media all and (max-width:768px) {
    #tokens-table {
        tr {
            display: table;
            width: 100%;
        }
        td {
            display: table-row;
        }
        thead {
            display: none;
        }
    }
}

@media screen {
    .printable * {
        display: none !important;
    }
}

@media print {
    #tokens-table,
    #add-link-container,
    button#remove-all,
    #print-container,
    .container h1,
    .content-main,
    header,
    footer,
    .container p,
    #donate-form{
        display: none;
    }

    .printable * {
        display: inline-block !important;
    }
}